.a-button {
    padding: .6rem 1rem;
    border-radius: 1rem;
    transition: background-color .5s ease;
    cursor: pointer;

    &:not(span):hover {
        background-color: $color-dark-primary;
    }
}
